# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
COMMAND.md
inputProducts.md

node_modules
dist/
dist-ssr
*.local

important command.md

.env
.env.development
.env.production
nginx.conf


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln
*.sw?


